In [1]:
# In questo notebook vedremo come analizzare un dataset caricato in un DataFrame di Pandas

In [2]:
import pandas as pd

In [3]:
# Carichiamo il dataset relativo al campionato di calcio di Serie A 2015-16 in formato csv

In [4]:
df = pd.read_csv('campionato.csv')

In [5]:
# Possiamo visualizzare le prime 5 righe
df.head()

,Squadra,Punti,Giocate,Vinte,Nulle,Perse,RetiFatte,RetiSubite,VinteCasa,NulleCasa,PerseCasa,RetiFatteCasa,RetiSubiteCasa,VinteFuori,NulleFuori,PerseFuori,RetiFatteCasa.1,RetiSubiteFuori
0,Juventus,91,38,29,4,5,75,20,16,2,1,37,6,13,2,4,38,14
1,Napoli,82,38,25,7,6,80,32,16,3,0,49,12,9,4,6,31,20
2,Roma,80,38,23,11,4,83,41,13,5,1,44,17,10,6,3,39,24
3,Inter,67,38,20,7,11,50,38,13,2,4,29,15,7,5,7,21,23
4,Fiorentina,64,38,18,10,10,60,42,11,5,3,34,16,7,5,7,26,26

In [6]:
# oppure l'intero dataframe
print(df)

       Squadra  Punti  Giocate  Vinte  Nulle  Perse  RetiFatte  RetiSubite  \
0     Juventus     91       38     29      4      5         75          20
1       Napoli     82       38     25      7      6         80          32
2         Roma     80       38     23     11      4         83          41
3        Inter     67       38     20      7     11         50          38
4   Fiorentina     64       38     18     10     10         60          42
5     Sassuolo     61       38     16     13      9         49          40
6        Milan     57       38     15     12     11         49          43
7        Lazio     54       38     15      9     14         52          52
8       Chievo     50       38     13     11     14         43          45
9        Genoa     46       38     13      7     18         45          48
10      Empoli     46       38     12     10     16         40          49
11      Torino     45       38     12      9     17         52          55
12    Atalanta     45       38     11     12     15         41          47
13     Bologna     42       38     11      9     18         33          45
14   Sampdoria     40       38     10     10     18         48          61
15     Palermo     39       38     10      9     19         38          65
16     Udinese     39       38     10      9     19         35          60
17       Carpi     38       38      9     11     18         37          57
18   Frosinone     31       38      8      7     23         35          76
19      Verona     28       38      5     13     20         34          63

    VinteCasa  NulleCasa  PerseCasa  RetiFatteCasa  RetiSubiteCasa  \
0          16          2          1             37               6
1          16          3          0             49              12
2          13          5          1             44              17
3          13          2          4             29              15
4          11          5          3             34              16
5           8          8          3             25              20
6           9          6          4             28              22
7          10          3          6             32              23
8           7          8          4             25              18
9          10          3          6             29              19
10          7          6          6             22              20
11          6          6          7             25              25
12          8          6          5             27              21
13          5          5          9             20              21
14          8          4          7             29              25
15          6          4          9             24              30
16          6          4          9             18              28
17          6          5          8             23              26
18          6          4          9             18              26
19          4          6          9             21              30

    VinteFuori  NulleFuori  PerseFuori  RetiFatteCasa.1  RetiSubiteFuori
0           13           2           4               38               14
1            9           4           6               31               20
2           10           6           3               39               24
3            7           5           7               21               23
4            7           5           7               26               26
5            8           5           6               24               20
6            6           6           7               21               21
7            5           6           8               20               29
8            6           3          10               18               27
9            3           4          12               16               29
10           5           4          10               18               29
11           6           3          10               27               30
12           3           6          10               14               26
13           6           4           9               13               24
14           2           6          11               19               36
15           4           5          10               14               35
16           4           5          10               17               32
17           3           6          10               14               31
18           2           3          14               17               50
19           1           7          11               13               33

In [7]:
# DIMENSIONI DATAFRAME
# In primo luogo determiniamo le dimensioni del dataframe contenente i dati

In [8]:
df.shape

(20, 18)

In [9]:
# Abbiamo 20 righe (corrispondenti alle 20 squadre) e 18 colonne

In [10]:
# STATISTICHE GENERALI
# Per ciascuna colonna sono riportati il numero di valori (count), la media (mean), la deviazione standard (std),
# min (minimo), max (massimo), i percentili (25%-50%-75%)

In [11]:
df.describe()

,Punti,Giocate,Vinte,Nulle,Perse,RetiFatte,RetiSubite,VinteCasa,NulleCasa,PerseCasa,RetiFatteCasa,RetiSubiteCasa,VinteFuori,NulleFuori,PerseFuori,RetiFatteCasa.1,RetiSubiteFuori
count,20.000000,20.0,20.000000,20.0000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,52.250000,38.0,14.250000,9.5000,14.250000,48.950000,48.950000,8.750000,4.750000,5.500000,27.950000,21.000000,5.500000,4.750000,8.750000,21.000000,27.950000
std,17.247044,0.0,6.077352,2.3056,5.369259,14.989382,12.717477,3.492473,1.712954,2.928984,8.114153,6.052403,2.982405,1.332785,2.712059,7.739169,7.584437
min,28.000000,38.0,5.000000,4.0000,4.000000,33.000000,20.000000,4.000000,2.000000,0.000000,18.000000,6.000000,1.000000,2.000000,3.000000,13.000000,14.000000
25%,39.750000,38.0,10.000000,8.5000,10.750000,37.750000,41.750000,6.000000,3.750000,3.750000,22.750000,17.750000,3.000000,4.000000,7.000000,15.500000,23.750000
50%,46.000000,38.0,12.500000,9.5000,15.500000,46.500000,47.500000,8.000000,5.000000,6.000000,26.000000,21.000000,5.500000,5.000000,10.000000,18.500000,28.000000
75%,61.750000,38.0,16.500000,11.0000,18.000000,52.000000,57.750000,10.250000,6.000000,8.250000,29.750000,25.250000,7.000000,6.000000,10.000000,24.500000,31.250000
max,91.000000,38.0,29.000000,13.0000,23.000000,83.000000,76.000000,16.000000,8.000000,9.000000,49.000000,30.000000,13.000000,7.000000,14.000000,39.000000,50.000000

In [12]:
# TIPI DELLE COLONNE

In [13]:
df.dtypes

Squadra            object
Punti               int64
Giocate             int64
Vinte               int64
Nulle               int64
Perse               int64
RetiFatte           int64
RetiSubite          int64
VinteCasa           int64
NulleCasa           int64
PerseCasa           int64
RetiFatteCasa       int64
RetiSubiteCasa      int64
VinteFuori          int64
NulleFuori          int64
PerseFuori          int64
RetiFatteCasa.1     int64
RetiSubiteFuori     int64
dtype: object

In [14]:
# STATISTICHE DI UNA COLONNA
# Vediamo come analizzare in dettaglio una singola colonna.

In [15]:
print("Il minimo è", df['Punti'].min())

Il minimo è 28

In [16]:
print("Il massimo è", df['Punti'].max())

Il massimo è 91

In [17]:
print("La media è", df['Punti'].mean())

La media è 52.25

In [18]:
print("La somma è", df['Punti'].sum())

La somma è 1045

In [19]:
# Visualizziamo i diversi valori presenti e la loro frequenza
df['Punti'].value_counts()

46    2
45    2
39    2
67    1
38    1
40    1
50    1
42    1
31    1
61    1
80    1
82    1
54    1
57    1
91    1
28    1
64    1
Name: Punti, dtype: int64

In [20]:
# Visualizziamo l'insieme dei valori presenti (non sono ammesse più istanze)
df['Punti'].unique()

array([91, 82, 80, 67, 64, 61, 57, 54, 50, 46, 45, 42, 40, 39, 38, 31, 28], dtype=int64)

In [21]:
# STATISTICA RIFERITA A TUTTE LE COLONNE
# Supponiamo di voler visualizzare la media di ciascuna colonna

In [22]:
df.mean(axis=0)

Punti              52.25
Giocate            38.00
Vinte              14.25
Nulle               9.50
Perse              14.25
RetiFatte          48.95
RetiSubite         48.95
VinteCasa           8.75
NulleCasa           4.75
PerseCasa           5.50
RetiFatteCasa      27.95
RetiSubiteCasa     21.00
VinteFuori          5.50
NulleFuori          4.75
PerseFuori          8.75
RetiFatteCasa.1    21.00
RetiSubiteFuori    27.95
dtype: float64

In [23]:
# Sostituiamo la media con il massimo

In [24]:
df.max(axis=0)

Squadra            Verona
Punti                  91
Giocate                38
Vinte                  29
Nulle                  13
Perse                  23
RetiFatte              83
RetiSubite             76
VinteCasa              16
NulleCasa               8
PerseCasa               9
RetiFatteCasa          49
RetiSubiteCasa         30
VinteFuori             13
NulleFuori              7
PerseFuori             14
RetiFatteCasa.1        39
RetiSubiteFuori        50
dtype: object

In [25]:
# STATISTICA RIFERITA A TUTTE LE RIGHE
# Le stesse operazioni possono essere applicate a tutti gli elementi di una riga (anche se nel nostro caso non hanno
# molto senso)

In [26]:
df.mean(axis=1)

0     23.235294
1     24.705882
2     26.000000
3     21.000000
4     22.470588
5     20.764706
6     20.882353
7     22.117647
8     20.000000
9     20.352941
10    19.882353
11    21.941176
12    19.705882
13    18.352941
14    21.882353
15    21.117647
16    20.176471
17    20.000000
18    21.588235
19    19.764706
dtype: float64